name: Deploy Infrastructure

on:
  push:
    branches: [ main, dev ]
    paths:
      - 'infrastructure/**'
  pull_request:
    branches: [ main, dev ]
    paths:
      - 'infrastructure/**'

permissions:
  id-token: write # For OIDC
  contents: read

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    
    defaults:
      run:
        working-directory: ./infrastructure

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Import Secrets from HashiCorp Vault
      uses: hashicorp/vault-action@v2
      with:
        url: ${{ secrets.VAULT_ADDR }}
        token: ${{ secrets.VAULT_TOKEN }}
        secrets: |
            secret/data/ats-buddy/config aws_access_key | AWS_ACCESS_KEY_ID ;
            secret/data/ats-buddy/config aws_secret_key | AWS_SECRET_ACCESS_KEY ;
            secret/data/ats-buddy/config gemini_api_key | TF_VAR_gemini_api_key ;
            secret/data/ats-buddy/config github_pat | TF_VAR_github_token ;
            secret/data/ats-buddy/config tf_state_bucket | TF_STATE_BUCKET ;
            secret/data/ats-buddy/config tf_lock_table | TF_LOCK_TABLE

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.0

    - name: Terraform Init
      run: |
        terraform init \
          -backend-config="bucket=${{ env.TF_STATE_BUCKET }}" \
          -backend-config="key=${{ github.ref_name }}/terraform.tfstate" \
          -backend-config="region=us-east-1" \
          -backend-config="dynamodb_table=${{ env.TF_LOCK_TABLE }}"

    - name: Terraform Format
      run: terraform fmt -check

    - name: Terraform Plan
      id: plan
      if: github.event_name == 'pull_request'
      run: |
        terraform plan -no-color \
          -var="project_name=ats-buddy" \
          -var="environment=${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}" \
          -var="repo_url=https://github.com/${{ github.repository }}"

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
      run: |
        terraform apply -auto-approve \
          -var="project_name=ats-buddy" \
          -var="environment=${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}" \
          -var="repo_url=https://github.com/${{ github.repository }}"
